.SideDrawer {
    position: fixed;
    width: 250px;
    min-width: 70%;
    height: 100%;
    padding: 16px 10px;
    top: 0;
    left: 0;
    box-sizing: border-box;
    z-index: 200;
}

@media (min-width: 500px) {
    .SideDrawer {
        display: none;
    }
}